@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Roboto', sans-serif;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  outline: none;
  width: 100%;
  max-width: 530px;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin: 1.5rem;
}

[type=checkbox], [type=radio] {
  color: #06DD83;
}

button:disabled{
  background-color:  #06DD83;
  color: #fff
}